* {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    line-height: 1.5;
    color: #FFFFFF;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #081030;
}

h1 {
    font-size: 34px;
    text-transform: uppercase;
    line-height: 1;
}

h2 {
    font-size: 32px;
    text-transform: uppercase;
    line-height: 1;
}

a {
    text-decoration: none;
    font-weight: 700;
    text-transform: uppercase;
}

a:hover {
    cursor: pointer;
}

.btn {
    font-size: 21px;
    font-weight: 700;
    border: none;
    border-radius: 3px;
    padding: 12px 10%;
    cursor: pointer;
}

.btn-primary {
    background-image: linear-gradient(180deg, #39b7c8 0%, #131b5e 100%);
}

.btn-primary:hover {
    opacity: 0.9;
    box-shadow: 0 0 10px #5eafc5;
}

.btn-danger {
    background-image: linear-gradient(180deg, #c30000 0%, #6e0000 100%);
}

.container {
    height: 100%;
    background-image: linear-gradient(180deg, #37b0c3 0%, #162566 100%);
    padding: 20px;
}

.container-item {
    margin: 0 auto;
    max-width: 1140px;
}

.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    text-align: center;
}

.header-box img {
    height: 75px;
}

.header-controls {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.privacy-item img {
    width: 18%;

}

.banner_mermaid {
    margin: 150px 0 50px 0;
}

.banner_mermaid-item {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.banner_mermaid--overview {
    max-width: 40%;
    text-align: right;
}

.banner_mermaid-item img {
    margin-top: -130px;
    max-width: 468px;
    width: 100%;
}

.banner_fish .container {
    background: url('/images/banners/fish.png') center / cover no-repeat;
}

.banner_fish-item {
    text-align: center;
    padding: 50px 0;
}

.blog{
    text-align: center;
    max-width: 1140px;
    margin: 20px auto;
}

.blog-item {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    display: grid;
}

.cookie-item img {
    width: 18%;
}

.cookie-item {
    background: url('/images/icons/cookies.png') right / contain no-repeat;
    padding: 20px 0;
}

/* burger-menu */
.header-controls-burger {
    display: none;
}

.burger {
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    display: inline-block;
}

#burger-toggle {
    display: none;
}

#burger-toggle-footer {
    display: none;
}

.menu {
    position: absolute;
    transform: translate(-35%);
    list-style: none;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease;
    padding: 0;
}

#burger-toggle:checked + .burger + .menu,
#burger-toggle-footer:checked + .burger + .menu {
    max-height: 500px;
}

.menu li a {
    display: block;
    padding: 10px;
    background-color: #f0f0f0;
    text-decoration: none;
    color: #333;
    border-bottom: 1px solid #ddd;
}

.menu li a:hover {
    background-color: #ddd;
}

/* game.html */
iframe {
    border: none;
}

.game {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

/* modal */
.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(20px);
    justify-content: center;
    align-items: center;
    box-shadow:0 0 10px #000;
}

.modal-content {
    background: white;
    padding: 40px;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.modal-content h3 {
    color: black;
}

.modal-content img {
    width: 30%;
    align-self: center;
    padding: 10px;
}

/* cookie*/
.cookie-notice {
    position: fixed;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 15px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    animation-duration: 1s;
    animation-name: slidein;
}

.cookie-notice p {
    margin: 0;
    font-size: 14px;
}

.cookie-notice button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.cookie-notice button:hover {
    background-color: #45a049;
}

@media (max-width: 1024px) {
    .banner_mermaid--overview {
        max-width: 100%;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .blog-item {
        grid-template-columns: 1fr;
    }

    .header-controls {
        display: none;
    }

    .header-controls-burger {
        display: block;
    }
}

@keyframes slidein {
    from {
        transform: translateY(100%);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}